.navbar {
  border-radius: 15px;
  padding: 1.5rem 0;
  margin: 30px 0;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: inherit;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
  width: 100%;
  position: static;

  a {
    flex: 1;
    max-width: 10rem;
  }
}
